<div class="container">
  <footer class="footer">
    <small>
      
      Copyright &copy; <a href="https://udemy.com">THe complete ruby on rails developer</a>
      by <a href="http://www.marshurhossain.com/">Mashur hossain</a>
      
    </small>
      <nav>
        <ul>
          <li> <%= link_to "about" %>  </li>
        </ul>
        
      </nav>    
    
  </footer>
  
  
</div>